section.blog
  .blog__decor
    img(src="img/blog-decor.png", alt="decor")
  .container
    .blog__title.secondary-title
      h3 What's new in blog?
    ul.blog-list
      li.blog-list__item
        .blog-list__img
          img(src="img/blog-1.jpg", alt="eco box")
        .blog-list__content
          .blog-list__title
            p Why KIWI Eco Box?
          .blog-list__text
            p Get started by signing up for monthly subscription. We bring you an easy way to start your zero-waste journey
          button.primary-btn.blog-list__btn(type="button") Read more
            img(src="img/blog-mobile-plus.svg", alt="plus")
      li.blog-list__item.blog-list__item--hidden
        .blog-list__img
          img(src="img/blog-2.jpg", alt="eco box")
        .blog-list__content
          .blog-list__title.blog-list__title--mt
            p What Is Inside The April Kiwi Eco Box? Portable Lunch Box
          .blog-list__text
            p Every month receive your box with essential products, but plastic free and safe for the environment
          button.primary-btn.blog-list__btn(type="button") Read more
            img(src="img/blog-mobile-plus.svg", alt="plus")
      li.blog-list__item.blog-list__item--hidden
        .blog-list__img
          img(src="img/blog-3.jpg", alt="eco box")
        .blog-list__content
          .blog-list__title
            p Make a Difference
          .blog-list__text
            p Small steps can lead to bigger changes, and now you are the change. Let's build community of people who care
          button.primary-btn.blog-list__btn(type="button") Read more
            img(src="img/blog-mobile-plus.svg", alt="plus")
      li.blog-list__item
        .blog-list__img
          img(src="img/blog-1.jpg", alt="eco box")
        .blog-list__content
          .blog-list__title
            p Why KIWI Eco Box?
          .blog-list__text
            p Get started by signing up for monthly subscription. We bring you an easy way to start your zero-waste journey
          button.primary-btn.blog-list__btn(type="button") Read more
            img(src="img/blog-mobile-plus.svg", alt="plus")
      li.blog-list__item.blog-list__item--hidden
        .blog-list__img
          img(src="img/blog-2.jpg", alt="eco box")
        .blog-list__content
          .blog-list__title.blog-list__title--mt
            p What Is Inside The April Kiwi Eco Box? Portable Lunch Box
          .blog-list__text
            p Every month receive your box with essential products, but plastic free and safe for the environment
          button.primary-btn.blog-list__btn(type="button") Read more
            img(src="img/blog-mobile-plus.svg", alt="plus")
      li.blog-list__item.blog-list__item--hidden
        .blog-list__img
          img(src="img/blog-3.jpg", alt="eco box")
        .blog-list__content
          .blog-list__title
            p Make a Difference
          .blog-list__text
            p Small steps can lead to bigger changes, and now you are the change. Let's build community of people who care
          button.primary-btn.blog-list__btn(type="button") Read more
            img(src="img/blog-mobile-plus.svg", alt="plus")
    