section.causebox
  .container
    .causebox-top
      .causebox-top__decor.causebox-top__decor--right
        img(src="img/causebox-decor.png", alt="decor")
      .causebox-top__decor.causebox-top__decor--left
        img(src="img/causebox-left.png", alt="decor")
      .causebox-top__text.before-title
        p Stay in the know
      .causebox-top__title-secondary.secondary-title
        p Hear about the latest sneak peaks and spoilers
      .causebox-top__title.primary-title
        h3 get CAUSEBOX delivered directly <span class="causebox-top__title--color">to your inbox!</span>
    .causebox-bottom
      form.causebox-bottom__form
        input.causebox-bottom__input(type="email" name="field" placeholder="Your email adress")
        button.primary-btn.causebox-bottom__btn(type="submit") Sign up
      .causebox-bottom__text
        p By clicking "sign up" you agree to receive emails from CAUSEBOX and accept our web terms of use and privacy and cookie poli