footer.footer
  .container
    .footer-content
      .footer-top
        .footer-left
          ul.footer-left__list
            li.footer-left__item
              a.footer-left__link(href="#") <span>Home</span>
            li.footer-left__item.footer-left__item--hidden
              a.footer-left__link(href="#") <span>What's inside</span>
            li.footer-left__item.footer-left__item--hidden
              a.footer-left__link(href="#") <span>Kiwi Eco Box</span>
            li.footer-left__item
              a.footer-left__link(href="#") <span>Boxes</span>
            li.footer-left__item
              a.footer-left__link(href="#") <span>About</span>
            li.footer-left__item
              a.footer-left__link(href="#") <span>Account</span>
            li.footer-left__item
              a.footer-left__link(href="#") <span>blog</span>
          .footer-left__logo
            img(src="img/logo.svg", alt="KIWI eco box")
          ul.footer-left__list.footer-left__list--ml
            li.footer-left__item
              a.footer-left__link(href="#") <span>Faq</span>
              a.footer-left__link(href="#") <span>CONTACT US</span>
        .footer-right
          ul.footer-right__list
            li.footer-right__item
              a.footer-right__link(href="#") 
                svg.footer-right__svg(width="30" height="30")
                  use(href="img/icons/icons.svg#footer-soc-1")
            li.footer-right__item
              a.footer-right__link(href="#") 
                svg.footer-right__svg(width="30" height="30")
                  use(href="img/icons/icons.svg#footer-soc-2")
            li.footer-right__item
              a.footer-right__link(href="#") 
                svg.footer-right__svg(width="30" height="30")
                  use(href="img/icons/icons.svg#footer-soc-3")
            li.footer-right__item
              a.footer-right__link(href="#") 
                svg.footer-right__svg(width="30" height="30")
                  use(href="img/icons/icons.svg#footer-soc-4")
      .footer-bottom
        .footer-bottom__text
          p Kiwi Eco Box © 2021
        .footer-bottom__left
          .footer-bottom__text.footer-bottom__text--left
            p Development by SheepFish
          .footer-bottom__img
            img(src="img/sheep-fish.svg", alt="sheep and fish")