section.main
  .container
    .main-content
      .main-content__img
        img(src="img/main-decor.png", alt="decor")
      .primary-title.main__title
        h1 Everything You Need
      .main__wrap
        .main__text.after-title
          p to Start Living
        .main__text.main__text--mr.after-title
          p Zero-Waste 
      .main__img
        img(src="img/main.png", alt="box")
      .main-mobile-box.main-mobile-box--hidden
        .main-mobile-box__img
          img(src="img/main-mobile-top.png", alt="decor")
        .main-mobile-box__img.main-mobile-box__img--width
          img(src="img/main-mobile-box.png", alt="eco box")
        
      button.primary-btn.main__btn(type="button") Start now         