section.mission
  .container
    .mission-content
      .mission-content__img
        img(src="img/mission-decor.png", alt="decor")
      .mission-content__span.before-title
        p OUR MISSION
      .mission-content__title.primary-title
        h3 We are here to help you live greener and more sustainably
      .mission-content__text.after-title
        p Small steps matter 
      .mission-content__img-mobile.mission-content__img-mobile--hidden
        img(src="img/mission-legs-mobile.png", alt="legs")