section.posts
  .container
    .posts-top
      .posts-top__text.before-title
        p Join the conversation an help us create a new world!
      .posts-top__title.secondary-title
        h3 Recent Posts
    .posts-bottom
      .posts-bottom__decor
        img(src="img/posts-decor.png", alt="decor")
      .posts-bottom__circle
        img(src="img/posts-circle.png", alt="circle") 
      .posts-bottom__wrap
        .posts-bottom__block
          .posts-bottom__img
            img(src="img/posts-1.jpg", alt="posts")
          .posts-bottom__img
            img(src="img/posts-2.jpg", alt="posts")
        .posts-bottom__block
          .posts-bottom__img
            img(src="img/posts-3.jpg", alt="posts")
          .posts-bottom__img
            img(src="img/posts-4.jpg", alt="posts")
      .posts-bottom__wrap.posts-bottom__wrap--hidden
        .posts-bottom__img.posts-bottom__img--width
          img(src="img/posts-5.jpg", alt="posts")
        .posts-bottom__block.posts-bottom__block--hidden
          .posts-bottom__img
            img(src="img/posts-6.jpg", alt="posts")
          .posts-bottom__img
            img(src="img/posts-7.jpg", alt="posts")