section.reviews
  .container
    .reviews__img.reviews__img--top
      img(src="img/reviews-top.png", alt="background")
    .reviews__img.reviews__img--small
      img(src="img/reviews-small-circle.png", alt="circle")
    .reviews__img.reviews__img--big
      img(src="img/reviews-big-circle.png", alt="circle")
    .reviews-top
      .before-title.reviews-top__text
        p What do our
      .secondary-title.reviews-top__title
        h3 clients say
  .reviews-slider
    .reviews-bottom
      .reviews-bottom__item
        .reviews-bottom__img
          img(src="img/reviews-main.png", alt="clients")
        .reviews-bottom-right
          .reviews-bottom-right__top
            .reviews-bottom-right__img.reviews-bottom-right__img--hidden
              img(src="img/reviews-mobile-girl.png", alt="girl")
            .reviews-bottom-right__right
              .reviews-bottom-right__name
                p Jessica T.
              .reviews-bottom-right__rating
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span.reviews-bottom-right__span--ml
                  span 5/5
          .reviews-bottom-right__content(data-simplebar)
            .reviews-bottom-right__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            .reviews-bottom-right__text
              p Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            .reviews-bottom-right__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            .reviews-bottom-right__text
              p Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      .reviews-bottom__item
        .reviews-bottom__img
          img(src="img/reviews-main.png", alt="clients")
        .reviews-bottom-right
          .reviews-bottom-right__top
            .reviews-bottom-right__img.reviews-bottom-right__img--hidden
              img(src="img/reviews-mobile-girl.png", alt="girl")
            .reviews-bottom-right__right
              .reviews-bottom-right__name
                p Jessica T.
              .reviews-bottom-right__rating
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span
                  span 
                    svg(width="16" height="16")
                      use(href="img/icons/icons.svg#reviews-start")
                .reviews-bottom-right__span.reviews-bottom-right__span--ml
                  span 5/5
          .reviews-bottom-right__content(data-simplebar)
            .reviews-bottom-right__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            .reviews-bottom-right__text
              p Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            .reviews-bottom-right__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            .reviews-bottom-right__text
              p Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        