section.works
  .container
    .secondary-title.works__title
      h2 How it Works
    ul.works-list
      .works-list__img-decor
        img(src="img/works-top.png", alt="circles")
      li.works-list__item
        .works-list__img
          img(src="img/works-1.png", alt="how it works")
        .works-list__content
          .works-list__title
            p Join The Movement
          .works-list__text
            p Get started by signing up for monthly subscription. We bring you an easy way to start your zero-waste journey
      li.works-list__item
        .works-list__img
          img(src="img/works-2.png", alt="how it works")
        .works-list__content
          .works-list__title
            p Get Your Box
          .works-list__text
            p Every month receive your box with essential products, but plastic free and safe for the environment
      li.works-list__item
        .works-list__img
          img(src="img/works-3.png", alt="how it works")
        .works-list__content
          .works-list__title
            p Make a Difference
          .works-list__text
            p Small steps can lead to bigger changes, and now you are the change. Let's build community of people who care
    button.primary-btn.works__btn(type="button") Get the Box