.popup {
  max-width: 804px;
  display: flex;
  align-items: center;
  gap: 62px;
  border-radius: 20px;
  z-index: 23;
  display: none;

  background-color: $white;
  &__visible {
    display: block;
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-height: 451px;
    border-radius: 20px 0 0 20px;

    background-color: $nav-menu-bg;

    @include mobile {
      border-radius: 0 0 20px 20px;
    }
  }

  &__img {
    width: 214px;
  }
}

.popup-right {
  padding: 50px 60px 50px 60px;

  @include mobile {
    padding: 50px 0;
  }
  &__top {
    margin-bottom: 50px;
    max-width: 430px;
  }
  &__title {
    position: relative;
    margin-bottom: 45px;
    text-align: center;

    & > p > span {
      color: $blue;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 20px);
      width: 15%;
      height: 25%;

      background-image: url(../../img/gradient-line.svg);
      background-repeat: no-repeat;
    }
  }

  &__text {
    font-family: $font-babes;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 406px;
    margin-left: auto;
    margin-right: auto;

    color: $black-dark;
  }

  &__btn {
    padding: 19px 116px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover,
    &:focus {
    }
  }
}

.popup.fancybox__content {
  flex-direction: row;
  padding: 0;
  gap: 0;

  @include mobile {
    flex-direction: column;
  }
}
